
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>
<br />

<form action="/Home/Search" method="get">

    <div class="form-group">
        <label for="q"></label>
        <input type="text" name="q" id="q" class="form-control" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />

</form>

